{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/entete.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
            {{ include('includes/menu.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="titre lien-menu" id="titre">
                    
                            
                            
                            <span style="font-weight: bold">Dépôt 
                        <span style="color: red;font-weight: bold">
                                   {{  echelle|lower }}
                        </span> de 
                         <span style="color: red;font-weight: bold" id="titretype">
                                    {{  bareme.type_envoi|lower }}
                        </span>
                        
                        d'un client 
                        <span style="color: red;font-weight: bold">
                                {{ bareme.client|lower }}
                        </span>
                        </span>
                         <span style="font-weight: bold;">- vacation du :
                            <span style="color: red">
                                {{ journnee }}
                            </span>
                        </span>
                            <span style="float: right;">
                            <a id="myBtn" href="#" class="btn btn-ems retaxe">
                              Retaxer
                            </a>
                                 </span>
                </div> 

                <div class="content container" id="content">       
                   {{ form_start(form) }}
                    <input type="hidden"  name="date"  value="{{ journnee }}"/>
                    <input type="hidden"  id="donneetypeancien"  value="{{ bareme.type_envoi }}"/>

                    <div id="expt">
                        <table style="width: 100%">
                            <tbody>

                            <tr>
                                <td colspan="2">
                                    <div style="background-image: linear-gradient(to bottom, #FFAF44 0%, #fff9ce 100%);">
                                        <span style="font-weight: bold;color: #777">Expéditeur</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                                N° Compte &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.expediteur.numcompte,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7;display:none','value': abonne.numcompte}}) }}
                                        {{ form_errors(form.envoi.expediteur.numcompte) }}
                                        <span> {{ abonne.numcompte }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              N° Téléphone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.expediteur.usager.telephone,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7;display:none','value': abonne.telephone }}) }}
                                        {{ form_errors(form.envoi.expediteur.usager.telephone) }}
                                        <span> {{ abonne.telephone }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Nom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.expediteur.usager.nom,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7;display:none','value': abonne.nom}}) }}
                                        {{ form_errors(form.envoi.expediteur.usager.nom) }}
                                        <span> {{ abonne.nom }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Civilité  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        <div id="{{ form.envoi.expediteur.civilite.vars.id }}" style="display: none">
                                            <table style="width: 100%">
                                                <tbody>
                                                <tr>

                                                    {% for civilite in form.envoi.expediteur.civilite.children %}
                                                        <td>
                                                            <div class="radio">
                                                                <label class="required">

                                                                    {% if(civilite.vars.value=='Entreprise') %}
                                                                        <input id="{{ civilite.vars.id }}" name="{{ civilite.vars.full_name }}" required="required" value="{{ civilite.vars.value }}" type="radio" checked/>
                                                                    {% elseif(civilite.vars.value=='Particulier') %}
                                                                        <input id="{{ civilite.vars.id }}" name="{{ civilite.vars.full_name }}" required="required" value="{{ civilite.vars.value }}" type="radio" checked/>
                                                                    {% else %}
                                                                        <input id="{{ civilite.vars.id }}" name="{{ civilite.vars.full_name }}" required="required" value="{{ civilite.vars.value }}" type="radio"/>
                                                                    {% endif %}
                                                                    {{ civilite.vars.label }}

                                                                </label>
                                                            </div>
                                                        </td>

                                                    {% endfor %}

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% do form.envoi.expediteur.civilite.setRendered %}


                                        <span> {{ abonne.civilite }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Adresse &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                         <textarea id="{{ form.envoi.expediteur.usager.adresse.vars.id }}" class="form-control form-control" name="{{ form.envoi.expediteur.usager.adresse.vars.full_name }}" required="required" style="font-weight: bold;border:solid 1px #337ab7;display:none">{{ abonne.adresse }}</textarea>
                                        {% do form.envoi.expediteur.usager.adresse.setRendered %}
                                        <span> {{ abonne.adresse }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Code postal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.expediteur.usager.codepostal,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7;display:none','value': abonne.codepostal}}) }}
                                        {{ form_errors(form.envoi.expediteur.usager.codepostal) }}
                                        <span> {{ abonne.codepostal }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Ville &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.expediteur.usager.ville,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7;display:none','value': abonne.ville}}) }}
                                        {{ form_errors(form.envoi.expediteur.usager.ville) }}
                                        <span> {{ abonne.ville }}</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Pays &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        <span> {{ bareme.nom_paysexp }}</span>
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div id="douane">
                        <table style="width: 100%">
                            <tbody>

                            {% if(bareme.type_envoi=='Non document') %}
                            <tr>
                                <td colspan="2">
                                    <div style="background-image: linear-gradient(to bottom, #FFAF44 0%, #fff9ce 100%);">
                                        <span style="font-weight: bold;color: #777">Déclaration en douane</span>
                                    </div>
                                </td>
                            </tr>




                                <tr>
                                    <td width="15%">
                                        <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                               Contenu(*) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                        </div>
                                    </td>
                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            {{ form_widget(form.envoi.description,{'attr':{'class':'form-control',
                                                'style':'border:solid 1px #337ab7','placeholder':'Contenu'}}) }}
                                            {{ form_errors(form.envoi.description) }}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        <div style="background-image: linear-gradient(to bottom, #FFAF44 0%, #fff9ce 100%);">
                                            <span style="font-weight: bold;color: #777">Nature/Valeur</span>
                                        </div>
                                    </td>
                                </tr>

                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;display: none">
                                            <textarea id="{{ form.envoi.description.vars.id }}" style="border:solid 1px #337ab7" class="form-control" name="{{ form.envoi.description.vars.full_name }}">Document</textarea>
                                        </div>
                                {% do form.envoi.description.setRendered %}
                            {% endif %}



                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              Nature(*) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>


                                {% if(bareme.type_envoi=='Document') %}

                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            <div id="{{ form.envoi.nature.vars.id }}" style="padding-left:5px;padding-right: 5px">

                                                <table style="width: 100%">
                                                    <tbody>
                                                    <tr>
                                                        {% for naenvoi in form.envoi.nature.children %}
                                                            <td>
                                                                <div class="radio">
                                                                    <label class="required">
                                                                        {% if(naenvoi.vars.value=='Cadeau') %}
                                                                            <input id="{{ naenvoi.vars.id }}" name="{{ naenvoi.vars.full_name }}" required="required" value="{{ naenvoi.vars.value }}" type="radio" checked/>
                                                                        {% else %}
                                                                            <input id="{{ naenvoi.vars.id }}" name="{{ naenvoi.vars.full_name }}" required="required" value="{{ naenvoi.vars.value }}" type="radio"/>
                                                                        {% endif %}
                                                                        {{ naenvoi.vars.label }}
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                {% do form.envoi.nature.setRendered %}
                                            </div>
                                        </div>
                                    </td>

                                {% else %}

                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            <div id="{{ form.envoi.nature.vars.id }}" style="padding-left:5px;padding-right: 5px">

                                                <table style="width: 100%">
                                                    <tbody>
                                                    <tr>
                                                        {% for naenvoi in form.envoi.nature.children %}
                                                            <td>
                                                                <div class="radio">
                                                                    <label class="required">
                                                                        <input id="{{ naenvoi.vars.id }}" name="{{ naenvoi.vars.full_name }}" required="required" value="{{ naenvoi.vars.value }}" type="radio"/>
                                                                        {{ naenvoi.vars.label }}
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                {% do form.envoi.nature.setRendered %}
                                            </div>
                                        </div>
                                    </td>

                                {% endif %}



                            </tr>

                            {% if(bareme.type_envoi=='Non document') %}
                                <tr>
                                    <td width="15%">
                                        <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Valeur(Fcfa *) &nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                        </div>
                                    </td>
                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            {{ form_widget(form.envoi.valeur,{'attr':{'class':'form-control',
                                                'style':'border:solid 1px #337ab7','placeholder':'Valeur(Fcfa)'}}) }}
                                            {{ form_errors(form.envoi.valeur) }}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td width="15%">
                                        <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Valeur(Fcfa) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                        </div>
                                    </td>
                                    <td width="85%">

                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;display: none">
                                            <input id="{{ form.envoi.valeur.vars.id }}" style="border:solid 1px #337ab7" class="form-control" name="{{ form.envoi.valeur.vars.full_name }}" value="00000"/>
                                        </div>
                                        {% do form.envoi.valeur.setRendered %}


                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;">
                                            <input type="text"  name="evalaur"  class="form-control" style="border:solid 1px #337ab7" placeholder="Valeur(Fcfa)"/>
                                        </div>

                                    </td>
                                </tr>
                            {% endif %}



                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Poids &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        <input type="hidden" id="donneepoidsancien" value="{{bareme.poids}}" />
                                        <span style="color: red;font-weight: bold" id="textpoidsancien"> {{ bareme.poids }} </span><span style="font-weight: bold"> Kg</span>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div id="dest">

                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <div style="background-image: linear-gradient(to bottom, #FFAF44 0%, #fff9ce 100%);">
                                        <span style="font-weight: bold;color: #777">Destinataire</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             N° Téléphone(*) :
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.destinataire.usager.telephone,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7','placeholder':'N° Téléphone'}}) }}
                                        {{ form_errors(form.envoi.destinataire.usager.telephone) }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                            Nom(*) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.destinataire.usager.nom,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7','placeholder':'Nom'}}) }}
                                        {{ form_errors(form.envoi.destinataire.usager.nom) }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                            Adresse(*)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.destinataire.usager.adresse,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7','placeholder':'Adresse'}}) }}
                                        {{ form_errors(form.envoi.destinataire.usager.adresse) }}
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                            Code postal  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;display: none">
                                        {{ form_widget(form.envoi.destinataire.usager.codepostal,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7','placeholder':'Code postal','value':'00000'}}) }}
                                        {{ form_errors(form.envoi.destinataire.usager.codepostal) }}
                                    </div>
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;">
                                        <input type="text"  name="cpostal"  class="form-control" style="border:solid 1px #337ab7" placeholder="Code postal"/>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                            Ville(*) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        {{ form_widget(form.envoi.destinataire.usager.ville,{'attr':{'class':'form-control',
                                            'style':'border:solid 1px #337ab7','placeholder':'Ville'}}) }}
                                        {{ form_errors(form.envoi.destinataire.usager.ville) }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                            Pays &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        <input type="hidden"  id="donneepaysdes"  value="{{ bareme.id_paysdes }}"/>
                                        <span style="color: red;font-weight: bold" id="textpaysdes"> {{ bareme.nom_paysdes }}</span>
                                    </div>
                                </td>
                            </tr>


                            {% if(echelle=='International') %}
                                <tr>
                                    <td width="15%">
                                        <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">Identifiant int&nbsp;&nbsp;&nbsp; :
                                            </span>
                                        </div>
                                    </td>
                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            <span style="color: red;font-weight: bold">  {{ code_inter }}</span>
                                        </div>
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px;display: none">
                                            {{ form_widget(form.envoi.codeenvoi,{'attr':{'class':'form-control',
                                                'style':'border:solid 1px #337ab7','value':code_inter}}) }}
                                            {{ form_errors(form.envoi.codeenvoi) }}

                                        </div>
                                    </td>
                                </tr>
                            {% else %}


                                <tr style="display: none">
                                    <td width="15%">
                                        <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">Id interna...&nbsp;&nbsp;(*) :
                                            </span>
                                        </div>
                                    </td>
                                    <td width="85%">
                                        <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                            {{ form_widget(form.envoi.codeenvoi,{'attr':{'class':'form-control',
                                                'style':'border:solid 1px #337ab7','value':'0'}}) }}
                                            {{ form_errors(form.envoi.codeenvoi) }}

                                            {{ code_inter }}
                                        </div>
                                    </td>
                                </tr>

                            {% endif %}


                            </tbody>
                        </table>

                    </div>

                    <div id="service">
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <div style="background-image: linear-gradient(to bottom, #FFAF44 0%, #fff9ce 100%);">
                                        <span style="font-weight: bold;color: #777">Informations de service</span>
                                    </div>
                                </td>
                            </tr>





                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">Heure de dépot :
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">
                                    <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                        <input type="hidden"  name="heure" class="form-control"   autocomplete="off"  value=" {{ heure }}"/>
                                        <span style="color: red;font-weight: bold">
                                            {{ heure }}
                                        </span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">Paiement(*) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            </span>
                                    </div>
                                </td>
                                <td width="85%">

                                    <div id="{{ form.envoi.modepaie.vars.id }}" style="padding-top: 15px;padding-right: 5px;max-width: 400px">

                                        <table style="width: 100%">
                                            <tbody>
                                            <tr>
                                                {% for mode in form.envoi.modepaie.children %}
                                                    <td>
                                                        <div class="radio">
                                                            <label class="required">
                                                                {% if(mode.vars.value=='Facture') %}
                                                                    <input id="{{ mode.vars.id }}" name="{{ mode.vars.full_name }}" required="required" value="{{ mode.vars.value }}" type="radio" checked/>
                                                                {% else %}
                                                                    <input id="{{ mode.vars.id }}" name="{{ mode.vars.full_name }}" required="required" value="{{ mode.vars.value }}" type="radio"/>
                                                                {% endif %}
                                                                {{ mode.vars.label }}
                                                            </label>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            </tbody>
                                        </table>

                                        {% do form.envoi.modepaie.setRendered %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 15%">

                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                        <span style="font-weight: bold">Tarif HT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                    </div>

                                </td>
                                <td style="width: 85%">
                                    <div style="padding-right: 5px;padding-left: 5px;max-width: 85px;text-align: right">

                                                                                    <span style="color: red;font-weight: bold">
                                                                                    {% if bareme.tarif|length > 3 %}

                                                                                        {{ bareme.tarif|striptags|slice(0, bareme.tarif|length-3)|raw }}
                                                                                        &nbsp
                                                                                        {{ bareme.tarif|striptags|slice(bareme.tarif|length-3, 3)|raw }}

                                                                                    {% else %}
                                                                                        {{ bareme.tarif }}
                                                                                    {% endif %}
                                                                                        </span><span style="font-weight: bold"> F</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                        <span style="font-weight: bold">TVA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                    </div>
                                </td>
                                <td style="width: 85%">
                                    <div style="padding-right: 5px;padding-left: 5px;max-width: 85px;text-align: right">

                                                                                    <span style="color: red;font-weight: bold">
                                                                                    {% if bareme.tva|length > 3 %}

                                                                                        {{ bareme.tva|striptags|slice(0, bareme.tva|length-3)|raw }}
                                                                                        &nbsp
                                                                                        {{ bareme.tva|striptags|slice(bareme.tva|length-3, 3)|raw }}

                                                                                    {% else %}
                                                                                        {{ bareme.tva }}
                                                                                    {% endif %}
                                                                                        </span><span style="font-weight: bold"> F</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 15%">
                                    <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                        <span style="font-weight: bold">Tarif TTC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                    </div>
                                </td>
                                <td style="width: 85%">
                                    <div style="padding-right: 5px;padding-left: 5px;max-width: 85px;text-align: right">

                                                                                    <span style="color: red;font-weight: bold">
                                                                                    {% if bareme.ttc|length > 3 %}

                                                                                        {{ bareme.ttc|striptags|slice(0, bareme.ttc|length-3)|raw }}
                                                                                        &nbsp
                                                                                        {{ bareme.ttc|striptags|slice(bareme.ttc|length-3, 3)|raw }}

                                                                                    {% else %}
                                                                                        {{ bareme.ttc }}
                                                                                    {% endif %}
                                                                                        </span><span style="font-weight: bold"> F</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <div style="height: 30px;margin-top: 2px;text-align: center;border-top: solid 2px #337ab7;padding-top:2px ">
                        <input type="submit" value="Envoyer" class="btn  btn-ems" />
                        <a href="{{ path('homepage') }}" class="btn btn-ems">Annuler</a>
                    </div>
                    {{ form_end(form) }}
                    
                    
                </div> 
                    
                    
                    
                     <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content" style="width:500px">
                        <div><span class="close">&times;</span></div>
                        <h1 class="mt-4">Retaxation du dépôt</h1>
                        <div id="retaxemsg" class="alert-danger">
                                             
                        </div>
                        
                        <!--Partie des réguliers-->
                      
                        
                        <div>
                            
                            <div>
                        <form id="JsonTaxe" method="post" action="{{ path('taxe_data_json') }}">
                                <table class="table table-condensed">
                                    <tbody>
                                        
                                        
                                        <tr>
                                            <th>
                                               Client
                                            </th>
                                            <td colspan="2">
                                                <span style="color: red;font-weight: bold" id="textclient">{{ abonne.nom }}</span>
                                        </td>
                                         </tr>
                                             <tr>
                                            
                                            <td colspan="3">
                                                <div style="padding-top: 5px;padding-right: 5px;" class="autocomplete">
                                                    <input type="text"  id="code_abonne"  name="code_abonne" class="form-control" style="border:solid 1px #337ab7;" autocomplete="off" placeholder="Tapez ici le nom du client abonné..."/>
                                                </div>
                                            </td>
                                         </tr>
                                    <tr>
                                        <th>Destination</th>

                                        <th>Type</th>

                                        <th>Poids</th> 
                                    </tr>
                                    <tr>
                                        <td><span style="color: red;font-weight: bold" id="textdestination"></span></td>
                                        <td><span style="color: red;font-weight: bold" id="texttype"></span></td>                            
                                        <td><span style="color: red;font-weight: bold" id="textpoids"> 
                                            </span>Kg
                                        </td>
                                        
                                    </tr>
                                    
                                    
                                    <tr>
                                            <td> 
                                                <select class="form-control" name="pays" id="pays">
                                                    {% if depot=='ren'%}
                                                        <option value="{{  bareme.id_paysexp }}" selected>{{  bareme.nom_paysexp }}</option>
                                                    {% else %}
                                                         <option value="0" selected>Choisir le pays</option>
                                                    {% for pay in pays %}
                                                        <option value="{{ pay.id }}">{{ pay.name }}</option>
                                                    {% endfor %}
                                                
                                                    {% endif%}
                                                    
                                               
                                                   
                                                </select>
                                            </td>

                                            <td>
                                                <select class="form-control" name="typeenvoi" style="max-width: 350px;border:solid 1px #337ab7">
                                                        <option value="0" selected >Choisir...</option>
                                                        <option value="Document">Document</option>
                                                        <option value="Non document">Non document</option>
                                                </select>

                                            </td>

                                            <td>
                                                <input type="text"  name="poids" class="form-control" style="border:solid 1px #337ab7;max-width: 100px;height: 30px"  autocomplete="off" placeholder="Poids (Kg)"/>
                                            </td>
                                        </tr>
                                        
                                         
                                             
                                       
                                        
                                         <tr>
                                        <td colspan="3">
                                            <div>
                                                {% if depot=='ren'%}
                                                    <input type="hidden"  name="client" class="form-control" value="Tout type"/>
                                                {% else %}
                                                    <input type="hidden"  name="client" class="form-control" value="Abonne"/>
                                                {% endif%}
                                            </div>
                                        </td>
                                         <tr>
                                        <td colspan="3">
                                            <div>
                                                <input type="submit" value="Valider" class="btn  btn-ems r-ems" />
                                            </div>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>


                                 
                         </form>

                            </div>
                        </div>
                            
                       
                        
                        </div>
                    </div>
            </div>
        </div>
     </div>


                                            
                                            
                        <script>
                            $( function() {
                                var availableTags = [
                                    {% for abonne in abonnes %}
                                    "{{ abonne.nom }}",
                                    {% endfor %}
                                ];
                                
                                $( "#code_abonne" ).autocomplete({
                                    source: availableTags
                                });
                            } );


                        </script>



{% endblock %}
