{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/entete.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
            {{ include('includes/menu.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="titre lien-titre" id="titre">
                   <div class="container">
                        <table width="100%">       
                            <tbody> 
                                <tr>
                                    <td>
                                        <span style="font-weight: bold">Facturation du :</span>
                                        <span style="color: red;font-weight: bold">{{ mois }}</span>                                    </td>
                                    
                                    <td width="10%">
                                        <!-- Small button groups (default and split) -->
                                        <div class="btn-group">
                                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                          </button>
                                          <div class="dropdown-menu">
                                                                                         
                                           
                                            <a class="dropdown-item" href="#Impr" onclick="printContent('BL')">
                                                  Imprimer
                                            </a>
                                             
                                                <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('print_pdf', { 'abonne':abonne,  'date':mois}) }}" target="_blank">
                                                 Exporter(PDF)
                                            </a>
                                                
                                       

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('facture_export', { 'abonne':abonne,  'date':mois}) }}">
                                                 Exporter(Excel)
                                        </a>

                                         

                                       <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('recouvrement', { 'periode':mois})}}">
                                                 Retour
                                        </a>


                                          </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    

                     </div>              
                </div> 

                <div class="content container" id="content">       
                   
                    <div style="border: solid 2px #337ab7;" id="BL">
                        <!--Ininitialisation num page-->
                        {% set numpage = 0 %}



                        <table style="width: 100%">
                            <tbody>

                                {% for envoi in envois %}






                                    {% if loop.index0 is divisible by(43) and  loop.index0!=0%}

                                        {% set numpage = numpage + 1 %}


                                    {% endif %}

                                    {% if envoi.nature=='LG' %}
                                        {{ include('default/logofacture.html.twig') }}
                                    {% elseif envoi.nature=='PR' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="height: 25px;border: 1px;padding: 2px 5px">

                                                </div>
                                            </td>
                                            <td colspan="3">
                                                <div style="padding: 2px 5px">
                                                    <span style="font-weight: bold">Période facturée :</span>
                                                    <span>{{ envoi.code }}</span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='NAB' %}
                                        <tr>
                                            <td colspan="3">

                                        {% if nomabonne|length >50 %}
                                            <div style="height: 50px;padding: 2px 5px">
                                                <span style="font-weight: bold">{{ nomabonne|upper }}</span>
                                            </div>
                                        {% else %}
                                            <div style="height: 25px;padding: 2px 5px">
                                                <span style="font-weight: bold">{{ nomabonne|upper }}</span>
                                            </div>
                                        {% endif %}


                                            </td>
                                            <td colspan="3">
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='LV' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">

                                                </div>
                                            </td>
                                        </tr>
                                    {% elseif envoi.nature=='NFA' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">Facture : </span>  {{ facture.numfacture }}/{{ facture.periode }}
                                                </div>
                                            </td>
                                            <td colspan="3">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">Date d'édition : </span> {{ djomois }}
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='AAB' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">{{ adresse|upper }} </span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% elseif envoi.nature=='IN' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">INTERNATIONAL</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Date</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Lieu de dépôt</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">N° dépot</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Destination</span>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Poids/Kg</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Montant</span>
                                                </div>
                                            </td>

                                        </tr>
                                    {% elseif envoi.nature=='NA' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">NATIONAL</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Date</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Lieu de dépôt</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">N° dépot</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Destination</span>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Poids/Kg</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    <span style="font-weight: bold">Montant</span>
                                                </div>
                                            </td>

                                        </tr>
                                    {% elseif envoi.nature=='TNA' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="border-top: solid 1px;border-right: solid 1px;height: 23px;padding: 2px 5px">

                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: left">
                                                    <span style="font-weight: bold">Total</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">
                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>
                                    {% elseif envoi.nature=='TNI' %}
                                        <tr>
                                            <td colspan="4">
                                                <div style="border-top: solid 1px;border-right: solid 1px;height: 23px;padding: 2px 5px">

                                                </div>
                                            </td>

                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: left">
                                                    <span style="font-weight: bold">Total</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">
                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>
                                    {% elseif envoi.nature=='TT' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="border-right: solid 1px;height: 23px;padding: 2px 5px">
                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: left">
                                                    <span style="font-weight: bold">Montant HT</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">
                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>
                                    {% elseif envoi.nature=='TVA' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="border-right: solid 1px;height: 23px;padding: 2px 5px">
                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: left">
                                                    <span style="font-weight: bold">TVA</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">
                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>

                                    {% elseif envoi.nature=='TTC' %}
                                        <tr>
                                            <td colspan="3">
                                                <div style="border-right: solid 1px;height: 23px;padding: 2px 5px">

                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: left">
                                                    <span style="font-weight: bold">Total TTC</span>
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">
                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>


                                    {% elseif envoi.nature=='TAC' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold">
                                                       Arrétée la présente facture à la somme de : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {% if envoi.montant|length > 6 %}
                                                            {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                            {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                            {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                        {% elseif(envoi.montant|length > 3) %}
                                                            {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                            {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                        {% else %}
                                                            {{ envoi.montant }}
                                                        {% endif %} F
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='TAL' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-weight: bold;margin-left: 40px">
                                                       <span style="font-weight: bold;"> {{ ttlettre|upper }} FCFA</span>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='CDT' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="text-decoration: underline"> CONDITIONS DE PAIEMENT :</span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% elseif envoi.nature=='DLM' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    DATE LIMITE DE PAIEMENT :  <span style="font-weight: bold;font-size: 12px">20 jours après réception de la facture</span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='VRM' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    VIREMENT :   <span style="font-weight: bold;font-size: 12px">  {{ facture.virement }}</span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='ACQ' %}
                                        <tr>
                                            <td colspan="6">
                                                <div style="height: 25px;padding: 2px 5px">
                                                    <span style="font-size: 12px">Chèque à libeller au nom de EMS SENEGAL</span>
                                                </div>
                                            </td>
                                        </tr>

                                    {% elseif envoi.nature=='LAU1' %}
                                        <tr>
                                            <td colspan="6">
                                                <table style="width: 100%">
                                                    <tbody>
                                                    <tr>
                                                        <td width="50%">
                                                            <div style="height: 25px;">
                                                                <span style="font-size: 12px;font-weight: bold">LE DIRECTEUR DE L'ADMINISTRATION DES</span>
                                                            </div>

                                                        </td>
                                                        <td width="50%">
                                                            <div style="height: 25px;">

                                                                {% if autDG is null %}
                                                                    <span style="font-size: 12px;font-weight: bold">LE DIRECTEUR GENERAL</span>
                                                                {% else %}

                                                                    {% if autDG.titre=='DGTITULAIRE' %}
                                                                        <span style="font-size: 12px;font-weight: bold">LE DIRECTEUR GENERAL</span>
                                                                    {% else %}
                                                                        <span style="font-size: 12px;font-weight: bold">LE DIRECTEUR GENERAL PAR INTERIM</span>
                                                                    {% endif %}

                                                                {% endif %}



                                                            </div>
                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% elseif envoi.nature=='LAU2' %}
                                        <tr>
                                            <td colspan="6">
                                                <table style="width: 100%">
                                                    <tbody>
                                                    <tr>
                                                        <td width="50%">
                                                            <div style="height: 25px;padding-top: -1px">
                                                                <span style="font-size: 12px;font-weight: bold">


                                                                </span>

                                                                {% if autDAFC is null %}
                                                                    <span style="font-size: 12px;font-weight: bold">FINANCES ET DE LA COMPTABILITE</span>
                                                                {% else %}

                                                                    {% if autDAFC.titre=='DAFCTITULAIRE' %}
                                                                        <span style="font-size: 12px;font-weight: bold">FINANCES ET DE LA COMPTABILITE</span>
                                                                    {% else %}
                                                                        <span style="font-size: 12px;font-weight: bold">FINANCES ET DE LA COMPTABILITE PAR INTERIM</span>
                                                                    {% endif %}

                                                                {% endif %}


                                                            </div>


                                                        </td>
                                                        <td width="50%">
                                                            <div style="height: 25px;padding-top: -1px">

                                                            </div>
                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% elseif envoi.nature=='LAU3' %}
                                        <tr>
                                            <td colspan="6">
                                                <table style="width: 100%">
                                                    <tbody>
                                                    <tr>
                                                        <td width="50%">
                                                            <div style="height: 25px;padding-top: -1px">

                                                                {% if autDAFC is not null %}
                                                                    <span style="font-size: 12px;font-weight: bold">
                                                                        {{ autDAFC.nom|upper }}</span>
                                                                {% endif %}
                                                            </div>


                                                        </td>
                                                        <td width="50%">
                                                            <div style="height: 25px;padding-top: -1px">

                                                                {% if autDG is not null %}
                                                                    <span style="font-size: 12px;font-weight: bold">
                                                                        {{ autDG.nom|upper }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px">
                                                    {{ envoi.date }}
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px">
                                                    {{ envoi.agence|upper }}
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    {{ envoi.code|upper }}
                                                </div>
                                            </td>
                                            <td style="width: 20%;">



                                                    {% if envoi.destfacture!='etr' %}

                                                        {#{% if version!='yes' %}
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px">
                                                            {{ envoi.destfacture|upper }} </div>
                                                        {% else %}
                                                <div style="border: solid 1px red;height: 23px;">
                                                            <form action="{{ path('modification_facture', {id : envoi.id, 'abonne':abonne,  'date':mois, 'version':'yes'}) }}" method="post">
                                                                <input type="text"   style="height: 21px;width: 100%;" name="destfacture"  value="{{ envoi.destfacture|upper }}"/>
                                                            </form> </div>
                                                        {% endif %}
#}
                                                        <div style="border: solid 1px;height: 23px;padding: 2px 5px">
                                                        {{ envoi.destination|upper }} </div>

                                                    {% else %}
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px">
                                                        {{ envoi.destination|upper }} </div>
                                                    {% endif %}



                                            </td>
                                            <td style="width: 10%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: center">
                                                    {{ envoi.poids }}
                                                </div>
                                            </td>
                                            <td style="width: 20%;">
                                                <div style="border: solid 1px;height: 23px;padding: 2px 5px;text-align: right">

                                                    {% if envoi.montant|length > 6 %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-6)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-6, 3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% elseif(envoi.montant|length > 3) %}
                                                        {{ envoi.montant|striptags|slice(0, envoi.montant|length-3)|raw }}

                                                        {{ envoi.montant|striptags|slice(envoi.montant|length-3, 3)|raw }}

                                                    {% else %}
                                                        {{ envoi.montant }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                        </tr>
                                    {% endif %}

                                {% endfor %}




                                            </tbody>
                                        </table>


                    </div>
                    
                </div> 
            </div>
        </div>
     </div>





{% endblock %}
