{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/header.html.twig') }}

    <div id="container" style="border: solid 1px #d2d2d2;overflow-x: hidden;overflow-y:hidden">
        <div class="row">

            <div class="column column-left menu">
                <div class="menu-action">
                    {% if(is_granted('ROLE_AGENTGUICHET')) %}
                        <div class="menu-action">
                            {{ include('includes/agent.html.twig') }}
                        </div>
                    {% elseif(is_granted('ROLE_DEXEMS')) %}
                        <div class="menu-action">
                            {{ include('includes/dex.html.twig') }}
                        </div>
                    {% elseif(is_granted('ROLE_CONTROLE')) %}
                        <div class="menu-action">
                            {{ include('includes/controle.html.twig') }}
                        </div>
                    {% elseif(is_granted('ROLE_DGEMS')) %}
                        <div class="menu-action">
                            {{ include('includes/dg.html.twig') }}
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="column column-middle" style="background:#8E998F;">

                <div id="wrapper">

                    <div class="titre-action">
                        <div style="border-top: solid 2px #337ab7;"></div>
                        <span style="font-weight: bold">Resultats des recherches</span>
                    </div>

                    <div class="content-action" style="text-align: center">
                        <span style="font-weight: bold;color: red">{{ msg }}</span>
                    </div>
                </div>




            </div>

        </div>
    </div>
{% endblock %}
