{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/entete.html.twig') }}
    
    <!-- Menu and Content -->
    <div class="div-preview">
        <div class="d-flex" id="wrapper">
            <!-- Page menu -->
            {{ include('includes/menu.html.twig') }}
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
    
                
                <div class="titre titre-action" id="titre">
                    <div class="container">
                        <table width="100%">       
                            <tbody> 
                                <tr>
                                    <td>
                                        Mes vacations du mois : 
                                        <span style="color: red;font-weight: bold">{{ mois }}</span>
                                    </td>
                                    <td width="10%">
                                        <!-- Small button groups (default and split) -->
                                        <div class="btn-group">
                                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Périodes
                                          </button>
                                          <div class="dropdown-menu">
                                              
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'01/' ~ annee_cours})  }}">
                                                Janvier {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'02/' ~ annee_cours})  }}">
                                                Fèvrier {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'03/' ~ annee_cours})  }}">
                                                Mars {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'04/' ~ annee_cours})  }}">
                                                Avril {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'05/' ~ annee_cours})  }}">
                                                Mai {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'06/' ~ annee_cours})  }}">
                                                Juin {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'07/' ~ annee_cours})  }}">
                                                Juillet {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'08/' ~ annee_cours})  }}">
                                                Août {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'09/' ~ annee_cours})  }}">
                                                Septembre {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'10/' ~ annee_cours})  }}">
                                                Octobre {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'11/' ~ annee_cours})  }}">
                                                Novembre {{ annee_cours }}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            
                                            <a class="dropdown-item" href="{{ path('vacation_index', { 'mois':'12/' ~ annee_cours})  }}">
                                                Décembre {{ annee_cours }}
                                            </a>
                                          </div>
                                            
                                        </div>
                                    </td>    
                                </tr>
                            </tbody>
                        </table>
                    

                     </div>  
                

                </div> 

                <div class="content" id="content">       
                   
                 
                    
                        <div class="table-responsive">
                            <table style="width: 100%" class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td style="border-right: 2px solid #d2d2d2;width: 20%">
                                        <div>


                                            <span style="font-size: 12px;font-weight: bold;color: #337ab7;">
                                                   Journée
                                            </span>
                                        </div>
                                    </td>
                                    <td  style="border-right: 2px solid #d2d2d2;width: 240px">

                                        <table style="width: 100%">
                                            <tbody>
                                            <tr>
                                                <td style="width: 200px">

                                                    <span style="font-size: 12px;font-weight: bold">Type bordereau</span>

                                                </td>
                                                <td style="width: 90px">
                                                    <div>
                                                        <span style="font-size: 12px;font-weight: bold">Numéro</span>
                                                    </div>

                                                </td>
                                                <td style="width: 40px">
                                                    <div>
                                                        <span style="font-size: 12px;font-weight: bold">Action</span>
                                                    </div>
                                                </td>

                                                <td style="width: 240px">
                                                    <span>
                                                     <a id="myBtn" href="#" class="btn btn-ems r-ems">
                                                         Créer
                                                     </a>
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>








                                </tr>
                                </tbody>
                            </table>
                        </div>

                    <div class="alert-danger">
                         <span style="font-weight: bold">
                          {{ app.session.get('msg') }}
                        </span>
                    </div>



                        {% for vacation in vacations %}

                            <div style="border-bottom: 1px solid #337ab7;">


                                <div style="border-bottom: 1px solid #337ab7;">
                                    <table style="width: 100%" class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td style="border-right: 2px solid #d2d2d2;width: 20%">
                                                <div>
                                                    <span style="font-size: 12px;font-weight: bold;color: red">
                                                      {{ vacation.vacation.journee  }}
                                                    </span>
                                                    <span style="font-size: 11px;font-weight: bold;float: right">
                                                        <a href="{{ path('vacation_edit', { 'id': vacation.vacation.id }) }}">
                                                            Détails&nbsp;&nbsp;&nbsp;
                                                        </a>
                                                    </span>
                                                </div>

                                                <div style="border-top: solid 1px #777;">

                                                     <span style="font-size: 11px;font-weight: bold;float: left">
                                                        <a href="{{ path('vacation_delete', { 'id': vacation.vacation.id }) }}">
                                                            supprimer
                                                        </a>
                                                    </span>

                                                    <span style="font-size: 11px;font-weight: bold;float: right">
                                                        <a href="{{ path('agent_depot_differe', { 'date': vacation.vacation.journee }) }}">
                                                           Déposez
                                                        </a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td  style="border-right: 2px solid #d2d2d2;width: 240px">

                                                <table style="width: 100%">
                                                    <tbody>
                                                    {% for bordereau in vacation.bordereaux %}
                                                        <tr>
                                                            <td style="width: 200px">

                                                                {{ bordereau.typeenvoi }}
                                                            </td>
                                                            <td style="width: 90px">
                                                                {{ bordereau.numbdr }}
                                                            </td>

                                                            <td style="width: 40px">
                                                                 <span style="font-size: 11px;font-weight: bold;float: left">

                                                                      {% if bordereau.typeenvoi=="clients réguliers national" %}
                                                                          <a href="{{ path('agent_depot', { 'depot': 'ren', 'datepicker': vacation.vacation.journee}) }}">
                                                                              Déposez
                                                                          </a>
                                                                     {% elseif  bordereau.typeenvoi=="clients réguliers international" %}
                                                                          <a href="{{ path('agent_depot', { 'depot': 'rei', 'datepicker': vacation.vacation.journee}) }}">
                                                                              Déposez
                                                                          </a>

                                                                      {% elseif  bordereau.typeenvoi=="clients occasionnels national" %}
                                                                          <a href="{{ path('agent_depot', { 'depot': 'oen', 'datepicker': vacation.vacation.journee}) }}">
                                                                              Déposez
                                                                          </a>
                                                                      {% else %}
                                                                          <a href="{{ path('agent_depot', { 'depot': 'oei', 'datepicker': vacation.vacation.journee}) }}">
                                                                              Déposez
                                                                          </a>
                                                                      {% endif %}



                                                                 </span>

                                                            </td>
                                                            <td style="width: 40px">

                                                                 <span style="font-size: 11px;font-weight: bold;float: left">


                                                                      <a href="{{ path('bordereau_delete', { 'id': bordereau.id }) }}">
                                                                          supprimer
                                                                      </a>
                                                                 </span>

                                                            </td>

                                                            <td style="width: 200px">



                                                                <span style="float: right">
                                                                    <a href="{{ path('envoi_index', { 'id': bordereau.id }) }}">
                                                                        <img src="{{ asset('img/bliste.jpg') }}" width="40" height="15">
                                                                    </a>
                                                                    </span>
                                                            </td>

                                                        </tr>
                                                    {% endfor %}


                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        {% endfor %}

               
                </div> 
                        
                        
                        
                        <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content" style="width:500px">
                        <div><span class="close">&times;</span></div>
                        <h1 class="mt-4">Création d'une vacation</h1>
                              
                        {{ form_start(form) }}
                        <table style="width: 100%" class="table table-bordered">
                            <tbody>
                            <tr>
                                <td style="width: 50%">
                                    <div>
                                        <b>Journée du :</b>
                                        
                                        
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="datepicker" name="datepicker" autocomplete="off" placeholder="Entrez la date"/><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                         </div>
                                    </div>
                                </td>
                                <td style="width: 50%">
                                    <div>
                                        <b>Numéro vacation</b>
                                        <div class="form-group">
                                            <input type="hidden"  name="numvacation"  value="{{ numvacation }}"/>
                                            <span style="font-weight: bold">{{ numvacation }}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%">
                                    
                                     <b>Début de la vacation</b>
                                </td>
                                <td style="width: 50%">
                                    <table style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%">
                                                <div>
                                                    <b>Heure</b>
                                                    <div class="form-group">
                                                        <select class="form-control" name="debutheure">
                                                            <option value="00" selected>00</option>
                                                            {% for i in 1..23 %}

                                                                {% if(i<10) %}
                                                                    <option value="0{{ i }}">0{{ i }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 50%">
                                                <div>
                                                    <b>Minute</b>
                                                    <div class="form-group">
                                                        <select class="form-control" name="debutminute">
                                                            <option value="00" selected>00</option>
                                                            {% for i in 1..59 %}
                                                                {% if(i<10) %}
                                                                    <option value="0{{ i }}">0{{ i }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%">
                                    
                                        <b>Fin de la vacation</b>
                                    
                                </td>
                                <td style="width: 50%">
                                    <table style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%">
                                                <div>
                                                    <b>Heure</b>
                                                    <div class="form-group">
                                                        <select class="form-control" name="finheure">
                                                            <option value="00" selected>00</option>
                                                            {% for i in 1..23 %}

                                                                {% if(i<10) %}
                                                                    <option value="0{{ i }}">0{{ i }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 50%">
                                                <div>
                                                    <b>Minute</b>
                                                    <div class="form-group">
                                                        <select class="form-control" name="finminute">
                                                            <option value="00" selected>00</option>
                                                            {% for i in 1..59 %}
                                                                {% if(i<10) %}
                                                                    <option value="0{{ i }}">0{{ i }}</option>
                                                                {% else %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="height: 30px;margin-top: 2px;text-align: center">
                                        <input type="submit" value="Valider" class="btn  btn-ems" />
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {{ form_end(form) }}
                        
                        
                      </div>
                                        
                    </div>
                    
           
            </div>
        </div>
     </div>





{% endblock %}
