<ul>


    <li><a href="{{ path('vacation_index') }}">Vacations LC</a>
    </li>

    <li>
        <a href="{{ path('agent_determiner_taxe', { 'depot': 'ren'}) }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                  Rég &nbsp;national
                </span>
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('agent_determiner_taxe', { 'depot': 'rei'}) }}">
             <div style="position: relative">
                 <span style="font-weight: bold">
                    Rég international
                 </span>
            </div>
        </a>
    </li>



    <li>
        <a href="{{ path('agent_determiner_taxe', { 'depot': 'oen'}) }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                     Occ &nbsp;national
                </span>
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('agent_determiner_taxe', { 'depot': 'oei'}) }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                     Occ international
                </span>
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('agent_depot_differe') }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                    Depôt(s) différé(s)
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path('cherche_route') }}">
            <div style="position: relative">
                <span style="font-weight: bold">
                   Rechercher envoi
                </span>
            </div>
        </a>
    </li>


</ul>