<ul>
    <li><a href="{{ path('depots_journaliers', { 'agence':'ems' }) }}">Dépots jour</a>
    </li>
    <li><a href="{{ path('depots_mois', { 'agence':'ems' }) }}">Dépots mois</a>
    </li>
    <li><a href="#">Dépot &nbsp;&nbsp;&nbsp;&nbsp;annuel</a>
    <li><a href="{{ path('agences_vacations', { 'agence':'ems' }) }}" >Vacations</a>
    </li>
    <li><a href="{{ path('abonne_index') }}">Abonnés</a>
    </li>
    <li><a href="{{ path('recouvrement') }}">Facturation</a>
    </li>
</ul>