{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediteur.id }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ expediteur.nature }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expediteur.date }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expediteur_edit', { 'id': expediteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
