{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/header.html.twig') }}

    <div id="container" style="border: solid 1px #d2d2d2;overflow-x: hidden;">
        <div class="row">

            <div class="column column-left menu">
                <div class="menu-action">
                    {{ include('includes/admin.html.twig') }}
                </div>
            </div>

            <div class="column column-middle" style="background: #8E998F">
                {{ form_start(form) }}
            <div  id="wrapper" >

                <div class="titre-action">
                    <div style="border-top: solid 2px #337ab7;"></div>
                    <span style="font-weight: bold">Création d'une agence</span>
                </div>

                <div class="content-action">

                    <table style="width: 100%">
                        <tbody>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Nom :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">

                                    {{ form_widget(form.nom,{'attr':{'class':'form-control',
                                        'style':'font-weight: bold;border:solid 1px #337ab7'}}) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              Localité :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">

                                    {{ form_widget(form.localite,{'attr':{'class':'form-control',
                                        'style':'font-weight: bold;border:solid 1px #337ab7'}}) }}
                                    {{ form_errors(form.localite) }}
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              Adresse :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                    {{ form_widget(form.adresse,{'attr':{'class':'form-control',
                                        'style':'font-weight: bold;border:solid 1px #337ab7'}}) }}
                                    {{ form_errors(form.adresse) }}
                                </div>

                            </td>

                        </tr>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                             Code occ :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">

                                    {{ form_widget(form.codeO,{'attr':{'class':'form-control',
                                        'style':'font-weight: bold;border:solid 1px #337ab7'}}) }}
                                    {{ form_errors(form.codeO) }}
                                </div>

                            </td>

                        </tr>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              Code reg :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">

                                    {{ form_widget(form.codeR,{'attr':{'class':'form-control',
                                        'style':'font-weight: bold;border:solid 1px #337ab7'}}) }}
                                    {{ form_errors(form.codeR) }}
                                </div>

                            </td>

                        </tr>

                        <tr>
                            <td width="15%">
                                <div style="padding-top: 15px;padding-right: 5px;padding-left: 5px;">
                                            <span style="font-weight: bold">
                                              Statut :
                                            </span>
                                </div>
                            </td>
                            <td style="width: 85%;">
                                <div style="padding-top: 15px;padding-right: 5px;max-width: 400px">
                                    <div id="{{ form.statut.vars.id }}">
                                        <table style="width: 100%">
                                            <tbody>
                                            <tr>

                                                {% for statut in form.statut.children %}
                                                    <td>
                                                        <div class="radio">
                                                            <label class="required">
                                                                <input id="{{ statut.vars.id }}" name="{{ statut.vars.full_name }}" required="required" value="{{ statut.vars.value }}" type="radio"/>
                                                                {{ statut.vars.label }}
                                                            </label>
                                                        </div>
                                                    </td>

                                                {% endfor %}

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% do form.statut.setRendered %}
                                </div>
                            </td>
                            <td style="width: 25%;"></td>
                        </tr>

                        <tr>
                            <td width="15%">

                            </td>
                            <td width="85%">
                                <div style="padding-top: 15px;padding-right: 5px;">
                                    <input type="submit" value="Ajouter" class="btn  btn-ems" />
                                    <a href="{{ path('agence_index') }}" class="btn  btn-ems">
                                        Annuler
                                    </a>
                                </div>
                            </td>
                        </tr>

                        </tbody>

                    </table>



               </div>
            </div>
                {{ form_end(form) }}

            </div>


            </div>
        </div>



{% endblock %}

