{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/header.html.twig') }}

    <div id="container" style="border: solid 1px #d2d2d2;overflow-x: hidden;overflow-y:hidden">
        <div class="row">

            <div class="column column-left menu">
                <div class="menu-action">
                    {{ include('includes/admin.html.twig') }}
                </div>
            </div>
            <div class="column column-middle" style="background:#8E998F;">

                <div id="wrapper">

                    <div class="titre-action">
                        <div style="border-top: solid 2px #337ab7;"></div>
                        <span style="font-weight: bold">Changement parametres utilisateur etape 1</span>
                    </div>

                    <div class="content-action">
                        <form action="{{ path('param_bur_user') }}" method="post">
                            <table class="table">

                                <tbody>
                                <tr>
                                    <th>
                                       Nom agence/bureau
                                    </th>
                                    <th>
                                    </th>

                                </tr>
                                <tr>
                                    <td>

                                        <select class="form-control" name="bur" id="bur">

                                            {% for agence in agences %}
                                                <option value="{{ agence.id }}" selected>{{ agence.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td>
                                        <input type="submit" value="Lister les utilisateurs" class="btn btn-ems" />
                                    </td>



                                </tr>

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>




            </div>

        </div>
    </div>
{% endblock %}
